/* static/css/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

main {
    width: 80%;
    max-width: 800px;
    margin: 2rem 0;
}

footer {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

#search-input {
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

#product-list {
    list-style-type: none;
    padding: 0;
}

#product-list li {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1rem;
    margin: 0.5rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#product-list li a {
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
}

#product-list li a:hover {
    background-color: #f0f0f0;
}

.pagination {
    margin: 1rem 0;
}

.pagination .step-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .step-links a, .pagination .step-links .current {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
}

.pagination .step-links a:hover {
    background-color: #e0e0e0;
}

.pagination .step-links .current {
    background-color: #4CAF50;
    color: white;
    pointer-events: none;
}

.product-detail {
    padding: 2rem;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2rem auto;
}

.product-detail img {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
}

.btn-back {
    margin-right: 1rem; /* Adjust margin for spacing */
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
    max-height: 80%;
}

.modal-content img {
    width: 100%;
    height: auto;
}

.modal-close {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}